body {
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    border-radius: 10px;
    user-select: none;
}

.container {
    width: 472px;
    height: 700px;
    background-color: black;
}

.display {
    width: auto;
    height: 100px;
    margin: 32px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Calculator', sans-serif;
    font-size: 96px;
}

.content {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.button-container {
    display: flex;
    margin: 32px;
    height: 500px;
    background-color: rgb(46, 46, 46);
    justify-content: center;
}

.buttons {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 12px;
}

.button {
    background-color: grey;
    width: 84px;
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

.number:hover {
    background-color: rgb(141, 141, 141);
}


.operator {
    background-color: rgb(65, 65, 65);
}

.operator:hover {
    background-color: rgb(87, 87, 87);    
}


#C{
    color: rgb(255, 173, 173);
}

#equals{
    background-color: rgb(122, 61, 61);
}

#equals:hover{
    background-color: rgb(150, 76, 76);
}

.otro {
    background-color: rgb(65, 65, 65);  
}

.otro:hover {
    background-color: rgb(87, 87, 87);    
}